.headerContainer {
    max-width: 100vw;
    height: 70px;
    background-color: black;
    padding: 10px;
}

.navigation{
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}



img{
    max-height: 70px;
    max-width: 70px;
}

.navLinks ul{
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.navLinks li{
    text-decoration: none;
    list-style: none;
    
}

.links{
    text-decoration: none;
    color: white;
    font-size: 18px;
}